## PORT MIS 샘플데이터 전처리

### 0. 데이터 불러오기

In [1]:
import pandas as pd
import os

# 파일 경로
directory = '../data/부산'

# 3행까지 제거
for filename in os.listdir(directory):
    if filename.startswith("/부산_시설") and filename.endswith(".xlsx"):  # 부산_2022시작하는 파일에 대해서
        file_path = os.path.join(directory, filename)
        df = pd.read_excel(file_path)  # 엑셀 파일을 데이터프레임으로 읽기
        df = df.iloc[3:]  # 상단 3행 삭제
        df.to_excel(file_path, index=False)  # 수정된 데이터프레임을 덮어쓰기

        print(f"{filename} 삭제 완료.", flush=True)  # Added flush=True

In [2]:
import pandas as pd
directory = '../data/부산'

df = pd.read_excel(directory + '/부산_시설_202201.xlsx')
df1 = pd.read_excel(directory + '/부산_시설_202202.xlsx')
df2 = pd.read_excel(directory + '/부산_시설_202203.xlsx')
df3 = pd.read_excel(directory + '/부산_시설_202204.xlsx')
df4 = pd.read_excel(directory + '/부산_시설_202205.xlsx')
df5 = pd.read_excel(directory + '/부산_시설_202206.xlsx')
df6 = pd.read_excel(directory + '/부산_시설_202207.xlsx')
df7 = pd.read_excel(directory + '/부산_시설_202208.xlsx')
df8 = pd.read_excel(directory + '/부산_시설_202209.xlsx')
df9 = pd.read_excel(directory + '/부산_시설_202210.xlsx')
df10 = pd.read_excel(directory + '/부산_시설_202211.xlsx')
df11 = pd.read_excel(directory + '/부산_시설_202212.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
dfs1 = pd.read_excel(directory + '/부산_입출항_2022_1.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
dfs2 = pd.read_excel(directory + '/부산_입출항_2022_2.xlsx')

/Users/kimsinwoo/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
dfs = pd.concat([dfs1, dfs2], ignore_index=True)

In [6]:
dfs = dfs.iloc[11:]  # 상단 3행 삭제

In [7]:
dfs.columns

Index(['선박입출항현황', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27'],
      dtype='object')

In [8]:
#dfs.drop(columns = 'z', inplace = True)

In [9]:
dfs.columns = ['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '외내', '입출', '총톤수', '입항일시',
       '출항일시', 'CIQ수속일자', '수리일시', '항해구분', 'MRN 번호', '계선장소_코드', '계선장소_숫자', '계선장소명',
       '차항지', '전출항지', '선박용도', '외항:한국인선원수/내항:해기사선원수', '외항:외국인선원수/내항:보통선원수',
       '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']

In [10]:
combined_df = pd.concat([df, df1, df2, df3, df4, df5,df6,df7, df8,df9,df10,df11], ignore_index=True)
combined_df.columns = ['순번', '호출부호', '입항횟수_연도', '입항횟수_횟수', '시설사용횟수', '신고톤수', '선박명', '선사/대리점_코드',
       '선사/대리점명', '신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)',
       '신청일시(TO)', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무']
combined_df.to_excel(directory + '/부산_combined.xlsx', index=False)

In [11]:
combined_df = combined_df.iloc[3:]

### 1. 컬럼 제거 및 결측치 확인

#### 컬럼 제거(시설허가 : combined_df , 입출항 : dfs)

In [12]:
columns_to_drop = ['신청시설_코드', '신청시설_번호', '신청시설명', '신청일시(FROM)', '신청일시(TO)', '선사/대리점_코드', '선사/대리점명']
combined_df.drop(columns=columns_to_drop, inplace=True)

In [13]:
columns_to_drop_dfs = ['외내', 'CIQ수속일자', 'MRN 번호', '차항지', '전출항지','외항:한국인선원수/내항:해기사선원수','외항:외국인선원수/내항:보통선원수', '승객', '예선', '도선', '부선호출부호1', '부선호출부호2']
dfs.drop(columns=columns_to_drop_dfs,inplace=True)

#### 상세처리

- 입출 : 출항만 사용
- 선박용도 > 최종 전처리시 많은 순으로 고려
- 미허가 행 제외

In [14]:
combined_df = combined_df[combined_df['허가유무'] != '미허가']

In [15]:
dfs = dfs[dfs['입출'] == '출항']

### 2. Merge_type 변경 후 Merge

In [16]:
combined_df['입항횟수_횟수'] = pd.to_numeric(combined_df['입항횟수_횟수'], errors='coerce')
combined_df['입항횟수_연도'] = pd.to_numeric(combined_df['입항횟수_연도'], errors='coerce')

dfs['입항횟수_횟수'] = dfs['입항횟수_횟수'].astype(float)
dfs['입항횟수_연도'] = dfs['입항횟수_연도'].astype(float)
combined_df['입항횟수_횟수'] = combined_df['입항횟수_횟수'].astype(float)
combined_df['입항횟수_연도'] = combined_df['입항횟수_연도'].astype(float)

In [16]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92748 entries, 3 to 104959
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   순번          92726 non-null  object
 1   호출부호        92726 non-null  object
 2   입항횟수_연도     92726 non-null  object
 3   입항횟수_횟수     92726 non-null  object
 4   시설사용횟수      92726 non-null  object
 5   신고톤수        92726 non-null  object
 6   선박명         92726 non-null  object
 7   지정시설_코드     92726 non-null  object
 8   지정시설_번호     92726 non-null  object
 9   지정시설명       92726 non-null  object
 10  지정일시(FROM)  92726 non-null  object
 11  지정일시(TO)    92726 non-null  object
 12  사용목적명       92726 non-null  object
 13  예보일시        92726 non-null  object
 14  허가유무        92726 non-null  object
dtypes: object(15)
memory usage: 11.3+ MB

In [17]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44305 entries, 11 to 88866
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   항명       44305 non-null  object
 1   호출부호     44305 non-null  object
 2   선박명      44305 non-null  object
 3   입항횟수_연도  44305 non-null  object
 4   입항횟수_횟수  44305 non-null  object
 5   구분       44305 non-null  object
 6   입출       44305 non-null  object
 7   총톤수      44278 non-null  object
 8   입항일시     44305 non-null  object
 9   출항일시     44305 non-null  object
 10  수리일시     44252 non-null  object
 11  항해구분     44278 non-null  object
 12  계선장소_코드  44278 non-null  object
 13  계선장소_숫자  44278 non-null  object
 14  계선장소명    44278 non-null  object
 15  선박용도     44305 non-null  object
dtypes: object(16)
memory usage: 5.7+ MB

In [17]:
merged_left = pd.merge(dfs, combined_df, on= ['호출부호','선박명','입항횟수_횟수','입항횟수_연도'], how='left') # 입출항, 시설사용허가 left merge
merged_left

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,부산,VRAD2,OSG ALPHA,2015.0,8.0,최종,출항,"7,167",2015-09-24 16:00,2022-08-10 00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산,140025,한림,2015.0,23.0,최종,출항,432,2015-09-25 11:40,2022-07-31 00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,부산,041471,제2삼원,2016.0,1.0,최종,출항,48,2016-02-01 00:00,2022-04-20 13:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,부산,935218,고려2호,2016.0,1.0,최종,출항,50,2016-03-11 15:10,2022-01-26 07:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,부산,T2FP5,SOKOL,2018.0,1.0,최종,출항,486,2018-04-26 00:15,2022-01-24 12:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84479,부산,3FEG8,CRANE SPICA,2022.0,7.0,최종,출항,"4,416",2022-12-31 14:30,2022-12-31 17:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84480,부산,V3IW2,UNION GLORY,2022.0,3.0,최종,출항,"8,344",2022-12-31 15:10,2022-12-31 19:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84481,부산,210019,동수1,2022.0,16.0,최종,출항,"2,179",2022-12-31 15:15,2022-12-31 23:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84482,부산,DSEA3,1성진,2022.0,72.0,최종,출항,210,2022-12-31 15:20,2022-12-31 17:40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84483,부산,062974,안성201호,2022.0,5.0,최종,출항,143,2022-12-31 17:30,2022-12-31 17:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 중복된 행 제거

In [18]:
# 중복된 행, unique값만 남기기
unique_values = merged_left.drop_duplicates()

In [19]:
unique_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84484 entries, 0 to 84483
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   항명          84484 non-null  object
 1   호출부호        84484 non-null  object
 2   선박명         84484 non-null  object
 3   입항횟수_연도     84484 non-null  float64
 4   입항횟수_횟수     84484 non-null  float64
 5   구분          84484 non-null  object
 6   입출          84484 non-null  object
 7   총톤수         84434 non-null  object
 8   입항일시        84484 non-null  object
 9   출항일시        84484 non-null  object
 10  수리일시        84301 non-null  object
 11  항해구분        84434 non-null  object
 12  계선장소_코드     84434 non-null  object
 13  계선장소_숫자     84434 non-null  object
 14  계선장소명       84434 non-null  object
 15  선박용도        84484 non-null  object
 16  순번          82633 non-null  object
 17  시설사용횟수      82633 non-null  object
 18  신고톤수        82633 non-null  object
 19  지정시설_코드     82633 non-null  object
 20  지정시설_번호     82633 non-null  object
 21  지정시설명       82633 non-null  object
 22  지정일시(FROM)  82633 non-null  object
 23  지정일시(TO)    82633 non-null  object
 24  사용목적명       82633 non-null  object
 25  예보일시        82633 non-null  object
 26  허가유무        82633 non-null  object
dtypes: float64(2), object(25)
memory usage: 18.0+ MB

In [20]:
unique_values.isna().sum() # 계선장소, 예선, 도선, 차항지

항명               0
호출부호             0
선박명              0
입항횟수_연도          0
입항횟수_횟수          0
구분               0
입출               0
총톤수             50
입항일시             0
출항일시             0
수리일시           183
항해구분            50
계선장소_코드         50
계선장소_숫자         50
계선장소명           50
선박용도             0
순번            1851
시설사용횟수        1851
신고톤수          1851
지정시설_코드       1851
지정시설_번호       1851
지정시설명         1851
지정일시(FROM)    1851
지정일시(TO)      1851
사용목적명         1851
예보일시          1851
허가유무          1851
dtype: int64

In [21]:
unique_values.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무'],
      dtype='object')

In [22]:
unique_values

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,시설사용횟수,신고톤수,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무
0,부산,VRAD2,OSG ALPHA,2015.0,8.0,최종,출항,"7,167",2015-09-24 16:00,2022-08-10 00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,부산,140025,한림,2015.0,23.0,최종,출항,432,2015-09-25 11:40,2022-07-31 00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,부산,041471,제2삼원,2016.0,1.0,최종,출항,48,2016-02-01 00:00,2022-04-20 13:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,부산,935218,고려2호,2016.0,1.0,최종,출항,50,2016-03-11 15:10,2022-01-26 07:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,부산,T2FP5,SOKOL,2018.0,1.0,최종,출항,486,2018-04-26 00:15,2022-01-24 12:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84479,부산,3FEG8,CRANE SPICA,2022.0,7.0,최종,출항,"4,416",2022-12-31 14:30,2022-12-31 17:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84480,부산,V3IW2,UNION GLORY,2022.0,3.0,최종,출항,"8,344",2022-12-31 15:10,2022-12-31 19:10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84481,부산,210019,동수1,2022.0,16.0,최종,출항,"2,179",2022-12-31 15:15,2022-12-31 23:30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84482,부산,DSEA3,1성진,2022.0,72.0,최종,출항,210,2022-12-31 15:20,2022-12-31 17:40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84483,부산,062974,안성201호,2022.0,5.0,최종,출항,143,2022-12-31 17:30,2022-12-31 17:35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3. 대기시간, 서비스시간 컬럼생성(Entry > Anchor > Berth > Departure)

In [23]:
temp = unique_values.copy()

In [24]:
# 데이터 타입으로 변경 , 잘못된 값 제거(6311 인덱스)
temp['지정일시(TO)'] = pd.to_datetime(temp['지정일시(TO)'], errors='coerce')
temp['지정일시(FROM)'] = pd.to_datetime(temp['지정일시(FROM)'], errors='coerce')

In [25]:
# 접안 대기시간,출항 대기시간 계산
temp['접안_대기시간'] = pd.NaT
temp['출항_대기시간'] = pd.NaT

temp.loc[temp['사용목적명'] == '접안대기', '접안_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']
temp.loc[temp['사용목적명'] == '출항대기', '출항_대기시간'] = temp['지정일시(TO)'] - temp['지정일시(FROM)']

In [26]:
temp.head()

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_코드,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간
0,부산,VRAD2,OSG ALPHA,2015.0,8.0,최종,출항,"7,167",2015-09-24 16:00,2022-08-10 00:00,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT
1,부산,140025,한림,2015.0,23.0,최종,출항,432,2015-09-25 11:40,2022-07-31 00:00,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT
2,부산,041471,제2삼원,2016.0,1.0,최종,출항,48,2016-02-01 00:00,2022-04-20 13:00,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT
3,부산,935218,고려2호,2016.0,1.0,최종,출항,50,2016-03-11 15:10,2022-01-26 07:45,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT
4,부산,T2FP5,SOKOL,2018.0,1.0,최종,출항,486,2018-04-26 00:15,2022-01-24 12:00,...,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT

#### Departure 생성

- 출항대기시간 null 값인 경우에는, Departure 값이 '출항일시' 값
- 사용목적명이 '출항대기'일 경우에 Departure 값이 '신청일시(FROM)' 값으로

In [27]:
import numpy as np

# 'Service_Time_End' 열 생성
temp['Service_Time_End'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Service_Time_End' 값 할당
temp.loc[temp['사용목적명'] == '출항대기', 'Service_Time_End'] = temp['지정일시(FROM)']

# '출항_대기시간'이 null인 경우 'Service_Time_End' 값 할당
temp.loc[temp['출항_대기시간'].isnull(),'Service_Time_End'] = temp['출항일시']

In [28]:
temp.head(15)

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정시설_번호,지정시설명,지정일시(FROM),지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End
0,부산,VRAD2,OSG ALPHA,2015.0,8.0,최종,출항,"7,167",2015-09-24 16:00,2022-08-10 00:00,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-08-10 00:00
1,부산,140025,한림,2015.0,23.0,최종,출항,432,2015-09-25 11:40,2022-07-31 00:00,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-07-31 00:00
2,부산,041471,제2삼원,2016.0,1.0,최종,출항,48,2016-02-01 00:00,2022-04-20 13:00,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-04-20 13:00
3,부산,935218,고려2호,2016.0,1.0,최종,출항,50,2016-03-11 15:10,2022-01-26 07:45,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-01-26 07:45
4,부산,T2FP5,SOKOL,2018.0,1.0,최종,출항,486,2018-04-26 00:15,2022-01-24 12:00,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-01-24 12:00
5,부산,D9JC,성신티3호,2019.0,7.0,최종,출항,106.21,2019-03-21 12:50,2022-11-01 13:35,...,01,대평동호안,2019-03-21 12:50:00,2022-11-01 13:35:00,기타,2022-11-01,허가완료,NaT,NaT,2022-11-01 13:35
6,부산,3E2043,VOLCANO,2019.0,35.0,최종,출항,"1,121",2019-10-30 16:20,2022-01-01 17:50,...,02,O박지 O2 묘지,2022-01-01 09:00:00,2022-01-03 10:00:00,출항대기,2022-01-01,허가완료,NaT,2 days 01:00:00,2022-01-01 09:00:00
7,부산,UCXC,CAESAR,2019.0,2.0,변경,출항,685,2019-12-29 15:17,2022-12-31 18:00,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-12-31 18:00
8,부산,JVWQ7,GERMES,2020.0,1.0,최종,출항,498,2020-01-02 07:00,2022-06-01 06:30,...,01,다대부두 1선석,2022-01-13 18:00:00,2022-01-28 18:00:00,수리,2022-01-13,허가완료,NaT,NaT,2022-06-01 06:30
9,부산,JVWQ7,GERMES,2020.0,1.0,최종,출항,498,2020-01-02 07:00,2022-06-01 06:30,...,01,다대부두 1선석,2022-01-28 18:00:00,2022-02-28 18:00:00,기타,2022-01-18,허가완료,NaT,NaT,2022-06-01 06:30
10,부산,JVWQ7,GERMES,2020.0,1.0,최종,출항,498,2020-01-02 07:00,2022-06-01 06:30,...,01,다대부두 1선석,2022-02-28 18:00:00,2022-03-31 18:00:00,수리,2022-02-25,허가완료,NaT,NaT,2022-06-01 06:30
11,부산,JVWQ7,GERMES,2020.0,1.0,최종,출항,498,2020-01-02 07:00,2022-06-01 06:30,...,01,감천 1부두 1선석,2022-04-05 13:00:00,2022-04-30 18:00:00,수리,2022-04-01,허가완료,NaT,NaT,2022-06-01 06:30
12,부산,JVWQ7,GERMES,2020.0,1.0,최종,출항,498,2020-01-02 07:00,2022-06-01 06:30,...,01,감천 1부두 1선석,2022-04-30 18:00:00,2022-05-15 18:00:00,상가대기,2022-04-29,허가완료,NaT,NaT,2022-06-01 06:30
13,부산,JVWQ7,GERMES,2020.0,1.0,최종,출항,498,2020-01-02 07:00,2022-06-01 06:30,...,01,감천 1부두 1선석,2022-05-13 08:00:00,2022-05-31 18:00:00,수리,2022-05-12,허가완료,NaT,NaT,2022-06-01 06:30
14,부산,HOA2755,OCEAN FLOWER,2020.0,33.0,최종,출항,445,2020-02-16 13:40,2022-07-28 09:30,...,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaT,NaT,2022-07-28 09:30

#### Anchor = 접안대기

In [29]:
temp['Anchor'] = np.nan

# '사용목적명'이 '출항대기'인 경우 'Anchor' 값 할당
temp.loc[temp['사용목적명'] == '접안대기', 'Anchor'] = temp['지정일시(TO)']

In [30]:
temp['Service_Time_Start'] = np.where(temp['Anchor'].isnull(), temp['입항일시'], temp['Anchor'])

In [31]:
# 문자열을 datetime으로 변환
temp['Service_Time_End'] = pd.to_datetime(temp['Service_Time_End'])
temp['Service_Time_Start'] = pd.to_datetime(temp['Service_Time_Start'])
temp['Service_Time'] = temp['Service_Time_End'] - temp['Service_Time_Start']

In [32]:
temp

,항명,호출부호,선박명,입항횟수_연도,입항횟수_횟수,구분,입출,총톤수,입항일시,출항일시,...,지정일시(TO),사용목적명,예보일시,허가유무,접안_대기시간,출항_대기시간,Service_Time_End,Anchor,Service_Time_Start,Service_Time
0,부산,VRAD2,OSG ALPHA,2015.0,8.0,최종,출항,"7,167",2015-09-24 16:00,2022-08-10 00:00,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-08-10 00:00:00,NaN,2015-09-24 16:00:00,2511 days 08:00:00
1,부산,140025,한림,2015.0,23.0,최종,출항,432,2015-09-25 11:40,2022-07-31 00:00,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-07-31 00:00:00,NaN,2015-09-25 11:40:00,2500 days 12:20:00
2,부산,041471,제2삼원,2016.0,1.0,최종,출항,48,2016-02-01 00:00,2022-04-20 13:00,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-04-20 13:00:00,NaN,2016-02-01 00:00:00,2270 days 13:00:00
3,부산,935218,고려2호,2016.0,1.0,최종,출항,50,2016-03-11 15:10,2022-01-26 07:45,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-01-26 07:45:00,NaN,2016-03-11 15:10:00,2146 days 16:35:00
4,부산,T2FP5,SOKOL,2018.0,1.0,최종,출항,486,2018-04-26 00:15,2022-01-24 12:00,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-01-24 12:00:00,NaN,2018-04-26 00:15:00,1369 days 11:45:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84479,부산,3FEG8,CRANE SPICA,2022.0,7.0,최종,출항,"4,416",2022-12-31 14:30,2022-12-31 17:10,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 17:10:00,NaN,2022-12-31 14:30:00,0 days 02:40:00
84480,부산,V3IW2,UNION GLORY,2022.0,3.0,최종,출항,"8,344",2022-12-31 15:10,2022-12-31 19:10,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 19:10:00,NaN,2022-12-31 15:10:00,0 days 04:00:00
84481,부산,210019,동수1,2022.0,16.0,최종,출항,"2,179",2022-12-31 15:15,2022-12-31 23:30,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 23:30:00,NaN,2022-12-31 15:15:00,0 days 08:15:00
84482,부산,DSEA3,1성진,2022.0,72.0,최종,출항,210,2022-12-31 15:20,2022-12-31 17:40,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 17:40:00,NaN,2022-12-31 15:20:00,0 days 02:20:00
84483,부산,062974,안성201호,2022.0,5.0,최종,출항,143,2022-12-31 17:30,2022-12-31 17:35,...,NaT,NaN,NaN,NaN,NaN,NaN,2022-12-31 17:35:00,NaN,2022-12-31 17:30:00,0 days 00:05:00

### 서비스타임,대기율, 용도별 대기율(컨테이터/비컨테이너)

In [33]:
waiting = temp.copy()

In [34]:
waiting['접안_대기시간'].fillna(0, inplace = True)

In [35]:
# import pandas as pd

# # 데이터프레임에서 '접안_대기시간'과 'Service_Time' 컬럼을 timedelta 형식으로 변환
waiting['접안_대기시간'] = pd.to_timedelta(waiting['접안_대기시간'])
waiting['Service_Time'] = pd.to_timedelta(waiting['Service_Time'])

# timedelta 값에서 일(day)로 변환
waiting['접안_대기시간_NumDays'] = waiting['접안_대기시간'].dt.days
waiting['Service_Time_NumDays'] = waiting['Service_Time'].dt.days

In [36]:
# '접안_대기시간' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['접안_대기시간_일'] = waiting['접안_대기시간'].dt.days
waiting['접안_대기시간_시간'] = waiting['접안_대기시간'].dt.components.hours
waiting['접안_대기시간_분'] = waiting['접안_대기시간'].dt.components.minutes
# 'Service_Time' 컬럼에서 'days', 'hours', 'minutes'를 분리하여 새로운 열로 추가
waiting['Service_Time_일'] = waiting['Service_Time'].dt.days
waiting['Service_Time_시간'] = waiting['Service_Time'].dt.components.hours
waiting['Service_Time_분'] = waiting['Service_Time'].dt.components.minutes

# 'Service_Time'을 분으로 변환하여 'Service_Time_분' 열에 추가
waiting['Service_Time_분'] = waiting['Service_Time_일'] * 24 * 60 + waiting['Service_Time_시간'] * 60 + waiting['Service_Time_분']

# '접안_대기시간'을 분으로 변환하여 '접안_대기시간_분' 열에 추가
waiting['접안_대기시간_분'] = waiting['접안_대기시간_일'] * 24 * 60 + waiting['접안_대기시간_시간'] * 60 + waiting['접안_대기시간_분']

In [37]:
waiting['대기율'] = waiting['접안_대기시간_분'] / waiting['Service_Time_분']

In [38]:
waiting['대기율'].describe()

count    84365.0
mean         inf
std          NaN
min       -480.0
25%          0.0
50%          0.0
75%          0.0
max          inf
Name: 대기율, dtype: float64

In [39]:
waiting['대기율'].fillna(0, inplace = True)

In [40]:
waiting['대기율'].mean()

inf

In [41]:
waiting.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84484 entries, 0 to 84483
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   항명                    84484 non-null  object
 1   호출부호                  84484 non-null  object
 2   선박명                   84484 non-null  object
 3   입항횟수_연도               84484 non-null  float64
 4   입항횟수_횟수               84484 non-null  float64
 5   구분                    84484 non-null  object
 6   입출                    84484 non-null  object
 7   총톤수                   84434 non-null  object
 8   입항일시                  84484 non-null  object
 9   출항일시                  84484 non-null  object
 10  수리일시                  84301 non-null  object
 11  항해구분                  84434 non-null  object
 12  계선장소_코드               84434 non-null  object
 13  계선장소_숫자               84434 non-null  object
 14  계선장소명                 84434 non-null  object
 15  선박용도                  84484 non-null  object
 16  순번                    82633 non-null  object
 17  시설사용횟수                82633 non-null  object
 18  신고톤수                  82633 non-null  object
 19  지정시설_코드               82633 non-null  object
 20  지정시설_번호               82633 non-null  object
 21  지정시설명                 82633 non-null  object
 22  지정일시(FROM)            82632 non-null  datetime64[ns]
 23  지정일시(TO)              82631 non-null  datetime64[ns]
 24  사용목적명                 82633 non-null  object
 25  예보일시                  82633 non-null  object
 26  허가유무                  82633 non-null  object
 27  접안_대기시간               84484 non-null  timedelta64[ns]
 28  출항_대기시간               1278 non-null   object
 29  Service_Time_End      84484 non-null  datetime64[ns]
 30  Anchor                3725 non-null   object
 31  Service_Time_Start    84484 non-null  datetime64[ns]
 32  Service_Time          84484 non-null  timedelta64[ns]
 33  접안_대기시간_NumDays       84484 non-null  int64
 34  Service_Time_NumDays  84484 non-null  int64
 35  접안_대기시간_일             84484 non-null  int64
 36  접안_대기시간_시간            84484 non-null  int64
 37  접안_대기시간_분             84484 non-null  int64
 38  Service_Time_일        84484 non-null  int64
 39  Service_Time_시간       84484 non-null  int64
 40  Service_Time_분        84484 non-null  int64
 41  대기율                   84484 non-null  float64
dtypes: datetime64[ns](4), float64(3), int64(8), object(25), timedelta64[ns](2)
memory usage: 29.7+ MB

In [42]:
waiting.columns

Index(['항명', '호출부호', '선박명', '입항횟수_연도', '입항횟수_횟수', '구분', '입출', '총톤수', '입항일시',
       '출항일시', '수리일시', '항해구분', '계선장소_코드', '계선장소_숫자', '계선장소명', '선박용도', '순번',
       '시설사용횟수', '신고톤수', '지정시설_코드', '지정시설_번호', '지정시설명', '지정일시(FROM)',
       '지정일시(TO)', '사용목적명', '예보일시', '허가유무', '접안_대기시간', '출항_대기시간',
       'Service_Time_End', 'Anchor', 'Service_Time_Start', 'Service_Time',
       '접안_대기시간_NumDays', 'Service_Time_NumDays', '접안_대기시간_일', '접안_대기시간_시간',
       '접안_대기시간_분', 'Service_Time_일', 'Service_Time_시간', 'Service_Time_분',
       '대기율'],
      dtype='object')

In [43]:
result = waiting.groupby('선박용도')['대기율'].mean().to_frame()
result = result.sort_values(by='대기율', ascending=False).reset_index()

In [44]:
result

           선박용도       대기율
0      산물선(벌크선)  0.353366
1         압항 예선  0.226935
2        냉동.냉장선  0.087680
3        시멘트운반선  0.052670
4        자동차운반선  0.014642
5         원유운반선  0.011166
6        기타 유조선  0.008543
7         기타 예선  0.005572
8           여객선  0.002878
9       폐기물 운반선  0.000148
10   일반화물운반용 부선  0.000000
11          예부선  0.000000
12     이.접안용 예선  0.000000
13          유람선  0.000000
14          준설선  0.000000
15    케미칼가스 운반선  0.000000
16        원목운반선  0.000000
17         크루즈선  0.000000
18          용달선  0.000000
19      LNG 운반선  0.000000
20          신조선  0.000000
21       연근해 어선  0.000000
22       수상레저기구  0.000000
23        석탄운반선  0.000000
24     모래운반용 부선  0.000000
25        기타 부선  0.000000
26           군함  0.000000
27        국제카페리  0.000000
28          관공선  0.000000
29          화객선  0.000000
30          기타선 -0.000850
31        원양 어선 -0.001068
32        견인용예선 -0.003349
33      LPG 운반선 -0.009853
34        모래운반선 -0.067901
35          급유선       NaN
36     석유제품 운반선       NaN
37  세미(혼재)컨테이너선       NaN
38        일반화물선       NaN
39      철강재 운반선       NaN
40      케미칼 운반선       NaN
41       풀컨테이너선       NaN

### 이상치 제거

In [45]:
# '대기율' 열에서 상하위 1%에 해당하는 값 구하기
lower_bound = waiting['대기율'].quantile(0.01)
upper_bound = waiting['대기율'].quantile(0.99)

# 상하위 1%에 해당하는 이상치 제거
filtered_waiting = waiting[(waiting['대기율'] >= lower_bound) & (waiting['대기율'] <= upper_bound)]

In [46]:
filtered_waiting.to_csv(directory + '/부산_전처리ver3.csv', encoding = 'utf-8-sig', index = False)

In [47]:
filtered_waiting['대기율'].describe()

count    83449.000000
mean         0.018844
std          0.140290
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.932515
Name: 대기율, dtype: float64